# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
x = {
    'evolution': ['Ivysaur','Charmeleon','Wartortle','Metapod'],
    'hp': [45,39,44,45],
    'name':['Bulbasaur','Charmander','Squirtle','Caterpie'],
    'pokedex':['yes','no','yes','no'],
    'type':['grass','fire','water','bug']
}
df = pd.DataFrame(x)
df

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = df
pokemon

    evolution  hp        name pokedex   type
0     Ivysaur  45   Bulbasaur     yes  grass
1  Charmeleon  39  Charmander      no   fire
2   Wartortle  44    Squirtle     yes  water
3     Metapod  45    Caterpie      no    bug

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [4]:
pokemon = pokemon.reindex(['name','type','hp','evolution','pokedex'], axis=1)
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [5]:
place = ['cairo','alex','giza','aswan']
pokemon['place'] = place
pokemon

         name   type  hp   evolution pokedex  place
0   Bulbasaur  grass  45     Ivysaur     yes  cairo
1  Charmander   fire  39  Charmeleon      no   alex
2    Squirtle  water  44   Wartortle     yes   giza
3    Caterpie    bug  45     Metapod      no  aswan

### Step 6. Present the type of each column

In [6]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.